{% extends 'base.html' %}
{% block title%} About {% endblock%}

{% block content %}
  <div class="hero">
    <img src="static/images/vinuri.jpeg" class="ab">
      <div>
        <h4>Povestea vinului și vinul de poveste….</h4>
        <p>Sunt mulți cei cărora le place vinul, și sunt din ce în ce mai mulți care vor să îl înțeleagă mai bine, să știe cum să îl aprecieze/evalueze.Vinul în sine este o artă. Aroma. Buchetul. Savoarea. Plăcerea. Tehnica. Sunt cele care fac diferența.</p>
        <p>Vinul este despre timp – se spune ca vinul devine mai bun în timp. Că devine mai gustos și mai prețios.  Eu cred că vinul este și despre timpul pe care îl petreci descoperind lumea în moduri diferite. Căci vinul deschide drumuri. Asculți povești, dezbați idei, concepte.</p>
        <p>Vinul este despre oameni – este despre oamenii cu care îl împărtășești. Despre cei care te fac să îl apreciezi. Despre oameni dragi. Despre povești. Despre amintiri. Despre planuri. Despre momente de calitate.</p>
        <p>Complicat, așa-i?</p>
      </div>
  </div>


  <div class="contact">
    <h4>Pentru infromatii:</h4>
  </div>
  <div class="phone">
    <p> Telefon : +40 755 066 066</p>
  </div>
  <div class="adress">
    <p>Locatia va fi anuntata in curand!</p>
  </div>

    {% endblock %}
